<h1><%= t('clients') %></h1>

<% if @clients.any? %>

<table>
  <tr>
    <th><%= t('full_name') %></th>
  </tr>

  <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client[:fullname] , action: :show, id: client[:id] %></td>
    </tr>
  <% end %>
</table>

<% else %>
  <p><%= t('no_clients') %></p>
<% end %>
