<%= form_tag rentals_path, :method => 'get' do %>
  <p>
    City: <%= text_field_tag :city, params[:city] %>
    Rental Type: <%= select_tag(:rental_type,
                                options_for_select(@rental_types.collect {|p| [ p[:name], p[:id] ] }),
                                include_blank: true,
                                multiple: true,
                                size: 1) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
