<h1>Rentals</h1>

<%= render 'search' %>

<hr/>

<% if @rentals %>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

  <% @rentals.each do |rental| %>
    <tr>
      <td><%= link_to (rental[:name].present? ? rental[:name] : 'Unknown') , action: :show, id: rental[:id] %></td>
      <% #TODO: should be ENUM value instead %>
      <td><%= rental[:rental_type].present? ? rental[:rental_type] : 'Unknown' %></td>
    </tr>
  <% end %>
</table>

<%end%>
