<h1>Accounts</h1>

<% if @accounts %>

<table>
  <tr>
    <th>Business name</th>
    <th>Status</th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account['business_name'] %></td>
      <td><%= account['status'] %></td>
    </tr>
  <% end %>
</table>

<%end%>
