<h1>Accounts</h1>

<% if @accounts %>

<table>
  <tr>
    <th>Business name</th>
    <th>Status</th>
  </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to account[:business_name], action: :show, id: account[:id] %></td>
      <td><%= account[:status] %></td>
    </tr>
  <% end %>
</table>

<%end%>
